@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gm-text: #363434;
  --gcc-primary: #62929a;
  --gcc-secondary: #efecec;
  --gcc-tertiary: #5c5757;
}

/** global page */
body.settings_page_goodmotion-cookie-consent #wpcontent {
  @apply bg-secondary text-typo;
}

/** loader */
.gm-admin_panel-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(240, 240, 241, 0.4);
}

/** form */
.gm-admin_panel fieldset {
  @apply py-4;
}

.gm-admin_panel label {
  @apply text-sm font-normal;
}

.gm-admin_panel legend {
  @apply pb-4 pl-0 text-2xl font-semibold;
}

.gm-admin_panel select {
  @apply appearance-none bg-none;
}
